@import "tailwindcss";

@theme {
  --default-font-family: "Amiko", "sans-serif";

  /* --color-background:hsl(var(--background)); */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: #B8B8FF;
  --color-cream: #FFD8BE;
  --color-cream-2: #FFEEDD;

  --text-h1: 48px;
  --text-h2: 40px;
  --text-h3: 33px;
  --text-h4: 28px;
  --text-h5: 23px;
  --text-title-1: 19px;
  --text-title-2: 16px;
  --text-body: 13px;
  --text-caption: 11px;

  --animate-fade-in: fade-in 0.4s ease-out forwards;
  --animate-moving-around: moving-around 3s ease-in-out infinite;
  --animate-fade-in-up: fadeInUp 0.6s ease-out forwards;
  --animate-grow-line: grow-line 0.6s ease-out forwards;
  --animate-shimmer: shimmer 2s linear infinite;

  /* --animate-electric-shock: wiggle 1s forwards; */
  /* --animate-electric-shock: electric-shock 0.2s linear infinite; */

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-0.5rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }


  }

  @keyframes moving-around {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    75% {
      transform: translateY(-20%);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes grow-line {
    0% {
      transform: scaleY(0);
      transform-origin: top;
    }

    100% {
      transform: scaleY(1);
      transform-origin: top;
    }
  }

  @keyframes shimmer {
    0% {
      backgroundPosition: "0 0",
    }

    100% {
      backgroundPosition: "-200% 0",
    }
  }


  @keyframes electric-shock {

    0%,
    100% {
      transform: translate(0, 0);
      filter: brightness(100%);
    }

    20% {
      transform: translate(-1px, 1px);
      filter: brightness(150%);
    }

    40% {
      transform: translate(1px, -1px);
      filter: brightness(80%);
    }

    60% {
      transform: translate(-1px, -2px);
      filter: brightness(200%);
    }

    80% {
      transform: translate(2px, 1px);
      filter: brightness(90%);
    }

  }

  @keyframes glitch {
    0% {
      transform: translate(0);
      filter: rotate(0deg);
    }

    20% {
      transform: translate(-2px, 2px);
      filter: rotate(30deg);
    }

    40% {
      transform: translate(2px, -2px);
      filter: rotate(60deg);
    }

    60% {
      transform: translate(-1px, 1px);
      filter: rotate(90deg);
    }

    80% {
      transform: translate(1px, -1px);
      filter: rotate(0deg);
    }

    100% {
      transform: translate(0);
      filter: rotate(-30deg);
    }

  }

  @keyframes wiggle {

    0%,
    100% {
      transform: rotate(-1deg);
    }

    25% {
      transform: rotate(1deg);
    }

    50% {
      transform: rotate(-1deg);
    }

    75% {
      transform: rotate(1deg);
    }
  }
}

@layer {
  :root {
    --background: #F8F7FF;
    --foreground: #52505C;

    --primary: #9381FF;
  }

  .dark {
    --background: #000000;
    --foreground: #F8F7FF;

    --primary: #9381FF;
  }

  html {
    @apply scroll-smooth;
    @apply leading-[1.2] text-foreground;
  }
}

@layer utilities {
  .container {
    @apply bg-background w-full;
    /* @apply py-8 bg-background items-center justify-center w-full flex flex-col; */
  }

  .heading {
    @apply text-[32px] font-bold md:text-[40px] text-center text-foreground;
  }

}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */